* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1025px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  margin-bottom: 20px;
}

.product-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 40px;
  margin-top: 50px; 
}

.product-info {
  width: 60%;
}

.price-percent {
  display: flex; 
  align-items: center; 
}

.price{
  color:#3A4980;
  font-size: xx-large;
}

.percentage{
  color: rgb(255, 174, 174);
  font: small;
  margin-left: 10px;
}

.img-card img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  height: 520px;
  object-fit: cover;
}

.small-Card {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
}

.small-Card img {
  width: 104px;
  height: 104px;
  border-radius: 4px;
  cursor: pointer;
}

.small-Card img:active {
  border: 1px solid #3A4980;
}

.sm-card {
  border: 2px solid darkred;
}

.color-choose div {
  display: inline-block;
}
 
.color-choose input[type="radio"] {
  display: none;
}
 
.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0%;
  border: 2px solid #FFFFFF;
}
 
.color-choose input[type="radio"]#Yellow + label span {
  background-color: #ECDECC;

}
.color-choose input[type="radio"]#Green + label span {
  background-color: #BBD278;

}
.color-choose input[type="radio"]#Blue + label span {
  background-color: #BBC1F8;
}
.color-choose input[type="radio"]#Pink + label span {
  background-color: #FFD3F8;
}
 
.color-choose input[type="radio"]:checked + label span{
  background-image: url('./icon-tick.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}

.desc{
  color: #A3A3A3;
  font-size: 15px;
  opacity: 0.6;
}

.company{
  color: #A3A3A3;
  font-size: small;
  opacity: 0.6;
}

.product-info{
  width: 60%;
}
.product-info h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}

.product-info h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  color: #ff4242;
  margin: 6px 0;
}

.product-info del {
  color: #a9a9a9;
}

.product-info p {
  color: #424551;
  margin: 15px 0;
  width: 70%;
}

button img {
  width: 20px; 
  height: auto; 
  margin-right: 5px; 
}


.sizes {
  display: inline-block;
}

.sizes input[type="radio"] + label {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  cursor: pointer;
  font-size: smaller;
}

.sizes input[type="radio"]:checked + label {
  background-color: #ddd;
 
}

.sizes input[type="radio"] {
  vertical-align: middle;
  margin-right: 1px; }

.size-option {
  width: 200px;
  height: 30px;
  margin-bottom: 15px;
  padding: 5px;
}

.quantity input {
  width: 51px;
  height: 33px;
  margin-bottom: 15px;
  padding: 6px;
}

button {
  display: inline-flex; 
  align-items: center; 
  font-size: 12px; 
  padding: 10px 10px; 
  background: #3A4980;
  border-radius: 30px;
  padding: 10px 37px;
  border: none;
  color: white;
  font-weight: 600;
}

button:hover {
  background: rgb(80, 80, 147);
  transition: ease-in 0.4s;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  color: #787a80;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
}

hr {
  color: #a1a1a1;
  width: 80%;
  opacity: 0.2;
}

.pagination {
    color: #787a80;
    margin: 15px 0;
    cursor: pointer;
}


@media screen and (max-width: 767px) {
  .product-container {
    flex-direction: column;
  }

  .small-Card img {
    width: 80px;
  }

  .product-info {
    width: 100%;
  }

  .product-info p {
    width: 100%;
  }

  .delivery {
    width: 100%;
  }

  hr {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}

@media screen and (min-width: 1025px) {
 
}